<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Test Capacitor
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Test Capacitor</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-content>
      <h2><b>Capacitor info</b></h2>

      <ul>
        <li>Platform name: ---</li>
        <li>Native platform: ---</li>
        <li>Camera available: ---</li>
      </ul>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <h2><b>Device info</b></h2>

      <ul>
        <li>Name: ---</li>
        <li>Operating System: ---</li>
        <li>OS version: ---</li>
        <li>Manufacturer: ---</li>
        <li>Is virtual?: ---</li>
        <li>UUID: ---</li>
      </ul>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <h2><b>Battery info</b></h2>

      <ul>
        <li>Battery level: ---</li>
        <li>Is charging?: ---</li>
      </ul>
    </ion-card-content>
  </ion-card>
</ion-content>
