<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Test Capacitor
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Test Capacitor</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-content>
      <h2><b>Capacitor info</b></h2>

      <ul>
        <li><b>Platform name:</b> {{platformName}}</li>
        <li><b>Native platform:</b> {{nativePlatform}}</li>
        <li><b>Camera available:</b> {{isCameraAvailable ? 'Yes' : 'No'}}</li>
      </ul>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <h2><b>Device info</b></h2>
  
      <ul>
        <li><b>Name:</b> {{deviceInfo.name}}</li>
        <li><b>Operating System:</b> {{deviceInfo.operatingSystem}}</li>
        <li><b>OS version:</b> {{deviceInfo.osVersion}}</li>
        <li><b>Manufacturer:</b> {{deviceInfo.manufacturer}}</li>
        <li><b>Is virtual?</b> {{deviceInfo.isVirtual ? 'Yes' : 'No'}}</li>
        <li><b>UUID:</b> {{deviceInfo.uuid}}</li>
      </ul>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <h2><b>Battery info</b></h2>
  
      <ul>
        <li><b>Battery level:</b> {{batteryInfo.level}}%</li>
        <li><b>Is charging?</b> {{batteryInfo.isCharging ? 'Yes' : 'No'}}</li>
      </ul>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <h2><b>Network info</b></h2>
  
      <ul>
        <li><b>Is connected?</b> {{networkInfo.connected ? 'Yes' : 'No'}}</li>
        <li><b>Connection type:</b> {{networkInfo.connectionType}}</li>
      </ul>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <h2><b>Events log</b></h2>
  
      <ul>
        <li *ngFor="let event of eventsLog">{{event}}</li>
      </ul>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <h2><b>GPS info</b></h2>
  
      <ul>
        <li><b>Latitude:</b> {{gpsInfo.latitude}}</li>
        <li><b>Longitude:</b> {{gpsInfo.longitude}}</li>
      </ul>
    </ion-card-content>
  </ion-card>  
</ion-content>
